<script setup lang="ts">
	import { useGlobalStore } from "@/stores/global";
	const global = useGlobalStore();
</script>

<template>
	<footer>
		{{ global.year }}
	</footer>
</template>

<style scoped>
  footer {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 12px;
  }
</style>
