<script setup lang="ts">
	import Navigation from "@/components/Navigation.vue";
</script>

<template>
	<header>
    <img class="logo" src="../assets/logo.png" />
		<Navigation />
	</header>
</template>

<style scoped>
  header {
    width: 100%;
    height: 25%;
    background: #47413b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;  
    box-sizing: border-box;
  }
  .logo {
    width: auto;
    height: 128px;
    margin: auto auto 24px auto;
  }
</style>
