<script setup lang="ts">
  import { RouterLink } from 'vue-router';
</script>

<template>
  <nav>
    <RouterLink to="/">Home</RouterLink>
    <RouterLink to="/dashboard">Dashboard</RouterLink>
  </nav>
</template>

<style scoped>
  nav {
  }
  a {
    color: white;
    text-decoration: none;
    padding: 12px 24px;
  }
  .router-link-active {
    text-decoration: underline;
  }
</style>
