<script setup lang="ts">
  import Header from "@/components/Header.vue";
  import Footer from "@/components/Footer.vue";
  import { RouterView } from "vue-router";
  import { onMounted } from "vue";

	import { useGlobalStore } from "@/stores/global";
	const global = useGlobalStore();

  onMounted(() => {
    global.setAppLoaded()
  })
</script>

<template>
  <Header />
  <RouterView />
  <Footer />
</template>

<style>
  html, body, #app {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: 1.6;
    font-family: 'Roboto';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #app {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
</style>
